<%-include("partials/header")-%>
<%-include("partials/read_create_navbar")-%>
<%-include("partials/about_navbar")-%>

  <main role="main" class="container">
    <h1 class="mt-5">Welcome to the CRUD app!</h1>
    <p class="lead">
      You can create,read, update or delete entries from the following table.
    </p>
  </main>

  <!-- Displaying to-do list in a table-->
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <%listItems.forEach(function(item){%>
      <tr>
        <td><%=item._id%></td>
        <td><%=item.title%></td>
        <td><%=item.description%></td>
        <td><%=item.status%></td>
        <td>
           <a href="/update/<%=item._id%>" class="link-primary">Update</a> 
          <form action="/delete" method="post">
            <button
                class="btn btn-outline-secondary"
                name="deleteButton"
                value="<%=item._id%>"
                type="submit"
                style ="margin-top:5px; display:inline-block";
              >
                Delete</button></form>
        </td>
      </tr>
      <%})%>
    </tbody>
  </table>

  <!-- Logout button -->
 <div class = "text-center">
  <a class="btn btn-dark btn" style = "position: absolute; right:20px; top: 60px" href="/logout" role="button">Log Out</a>
 </div>
</form>
  
<%-include("partials/footer")-%>

